@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

.darkButton {
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  padding: 12px 32px;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.input {
  background-color: rgba(112, 127, 144, 0.15);
  padding: 6px 12px;
  border-radius: 5px;
}
